body {
    height: 100vh;
    background-image: url('/src/assets/images/BxWMuseum.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 56px;
}